<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4">
    <h2 class="text-center mb-4">Sign in</h2>

    <form [formGroup]="form" (ngSubmit)="onLogin()">

      <div class="mb-3 form-floating d-flex">
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="" required>
        <label for="email" class="form-label">Email</label>
      </div>

      <div class="mb-3 form-floating d-flex">
        <input formControlName="password" type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" placeholder="" required autocomplete>
        <label for="password">Password</label>
        <button type="button" class="btn btn-outline-secondary align-items-center d-flex" (click)="togglePasswordVisibility()">
          <i class="bi {{ showPassword ? 'bi-eye-slash' : 'bi-eye' }}"></i>
        </button>
      </div>

      <div *ngIf="formSubmitted && form.invalid" class="text-danger">
        <div *ngIf="form.get('email')?.hasError('required')">Email is required.</div>
        <div *ngIf="form.get('email')?.hasError('email')">Invalid email address.</div>
        <div *ngIf="form.get('password')?.hasError('required')">Password is required.</div>
      </div>
      <br>

      <div class="text-center">
        <button (click)="onLogin()" class="btn btn-primary" [disabled]="isLoading || !form.dirty">
          <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin me-2"></i></span>Log in
        </button>
      </div>

      <app-modal
                 [modalTitle]="modalTitle" [modalMessage]="modalMessage"
                 [modalButtons]="modalButtons" (buttonClicked)="onModalBtnClick($event)">
      </app-modal>
    </form>

    <div class="mt-3 text-center">
      <p>Don't have an account? <a class="text-decoration-none" routerLink="/auth/register">Sign up</a></p>
    </div>

  </div>
</div>
